<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>إنشاء تقرير</title>
    <link rel="icon" type="jpg" href="../static/img/logo.png" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/all.min.css" />
    <link rel="stylesheet" href="../static/css/create_report.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="form-container">
      <div class="container">
        <div class="head">
          <img src="../static/img/logo.png" alt="" />
          <h2>وزارة العمل جمهورية مصر العربية</h2>
        </div>
      </div>
      <div class="container-fluid">
        <div class="head-two">
          <div class="row">
            <div class="col-md-6">
              <div class="left">
                <h3>انشاء تقرير</h3>
              </div>
            </div>
            <div class="col-md-6">
              <div class="right">
                <a href="{{ url_for('home') }}">الصفحة الرئيسية</a>
                <em>></em>
                <a href="{{ url_for('login') }}">تسجيل الخروج</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <form method="POST" action="{{ url_for('edit_report', report_id=report.id) }}">
          <div class="row">
            <div class="col-md-4">
              <div class="one">
                <label for="field1">الاسم</label>
                <input type="text" class="form-control" id="field1" name="field1" value="{{ report.field1 }}" placeholder="الاسم رباعي" required />
              </div>
            </div>
            <div class="col-md-4">
              <div class="one">
                <label for="field2">وصف العملية</label>
                <input type="text" class="form-control" id="field2" name="field2" value="{{ report.field2 }}" placeholder="وصف لنوع العمل" required />
              </div>
            </div>
            <div class="col-md-4">
                <div class="one">
                  <label for="field3">رقم العملية / العقد</label>
                  <input type="text" class="form-control" id="field3" name="field3" value="{{ report.field3 }}" placeholder="رقم العملية / العقد" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field4">القيمة المالية الاجمالية للعقد</label>
                  <input type="text" class="form-control" id="field4" name="field4" value="{{ report.field4 }}" placeholder="القيمة المالية الاجمالية للعقد" required />
                </div>
              </div>
              <div class="col-md-8"></div>
              <div class="col-md-8">
                <div class="one">
                  <label for="field5">ارقام الفواتير / ارقام الجاري</label>
                  <input type="text" class="form-control" id="field5" name="field5" value="{{ report.field5 }}" placeholder="جاري من الي او رقم الفاتورة" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field6">نوع المستخلص / الفاتورة</label>
                  <input type="text" class="form-control" id="field6" name="field6" value="{{ report.field6 }}" placeholder="ادخل نوع المستخلص" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field7">تاريخ البداية</label>
                  <input type="date" class="form-control" id="field7" name="field7" value="{{ report.field7 }}" value="2004-03-03" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field8">تاريخ النهاية</label>
                  <input type="date" class="form-control" id="field8" name="field8" value="{{ report.field8 }}" value="2004-03-03" required />
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field9">رقم الايصال</label>
                  <input type="text" class="form-control" id="field9" name="field9" value="{{ report.field9 }}" placeholder="رقم الايصال" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field10">حساب البريد المصري</label>
                  <input type="text" class="form-control" id="field10" name="field10" value="{{ report.field10 }}" placeholder="حسابك البريدي" required />
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field11">القيمة</label>
                  <input type="text" class="form-control" id="field11" name="field11" value="{{ report.field11 }}" placeholder="القيمة" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field12">القيمة بالعربي</label>
                  <input type="text" class="form-control" id="field12" name="field12" value="{{ report.field12 }}" placeholder="القيمة بالعربي" required />
                </div>
              </div>
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field13">كود العقد</label>
                  <input type="text" class="form-control" id="field13" name="field13" value="{{ report.field13 }}" placeholder="ادخل الكود" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field14">رقم المخالصة</label>
                  <input type="text" class="form-control" id="field14" name="field14" value="{{ report.field14 }}" placeholder="رقم المخالصة" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field15">كلمة المرور</label>
                  <input type="text" class="form-control" id="field15" name="field15" value="{{ report.field15 }}" placeholder="كلمة المرور" required />
                </div>
              </div>
              <div class="col-md-4">
                <div class="one">
                  <label for="field16">تاريخ المستخلص / الفاتورة</label>
                  <input type="date" class="form-control" id="field16" name="field16" value="{{ report.field16 }}" value="2004-03-03" required />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
        </form>
      </div>
    </div>
    <script src="../static/js/bootstrap.bundle.js"></script>
    <script src="../static/js/all.min.js"></script>
  </body>
</html>
